@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}

.text-font {
    font-family: 'Sacramento';
    color:rgb(6, 8, 143);
    font-weight: 600;
    text-decoration: underline;
}

.text-font-h2 {
    font-family: 'Sacramento';
    color:rgb(6, 8, 143);
    font-weight: 600;
}

/** The following css has been taken from https://github.com/AmyOShea/MS3-Cocktail-Hour/blob/master/static/css/style.css
for visual appeal only **/


.card-size {
    width: 250px;
   }

.card {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-color: #84fffa;
}

.card .main-content {
    width: 100%;
    height: 100%
}

.card .main-content img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 200px;
}

.card .overlay-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    overflow: hidden;
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1;
    -webkit-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
    text-align: center;
}

.card:hover .overlay-content {
    top: 0;
}



.wrapper {
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.recipe-name {
    margin: 8px;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.1em;
    font-family: 'Sacramento';
}

.made-by {
    font-weight: 400;
    font-family: 'Montserrat';
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.card-btn-container {
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.card-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
   
}


/** End of sourced code **/

.card-border {
    border-color:rgba(150, 212, 253, 0.6);

}

/** Footer **/

.fa-footer{
    color: #e7e7e7;
    display: inline;
    font-size: 30px;
    margin-left: 10px;
    padding: 0;
  }
  
  .fa-footer:hover{
    color: #ccc6c6;
  }


  .background{
    background: url("../images/site-imgs/bgimage.jpg");
    background-size: cover;
    background-repeat: repeat;
   }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }


  .hero-image {
      border-radius: 10px;
      
      border-style: solid;
      border-color: #84fffa;
  }

  .h1-padding {
      padding: 2.8rem 0 1.68rem 0;
      padding-top: 120px;
      margin: 0;
  }

  .msg-position {
      position: absolute;
     left: 35%;
     
  }

      .hero-text {
          font-size: 6em;
      }

li {
    font-family: Montserrat;
    color: #84fffa;
}
 

.carousel-border {
    border-style: solid;
    color: #84fffa;
}

.font-mont {
    font-family: Montserrat;
    font-weight: 600;
}


.fa-color {
    color: #84fffa;
}

.card-bg {
    border-radius: 10px;
    border-style: solid;
    border-color: #84fffa;
}

.btn {
    color: #fff;
    background-color: #424242;
    border: 1px solid #84fffa;
    border-radius: 5px;
    margin-left: 15px;
}

.p-font {
 font-family: Montserrat;
    font-size: 2em;
    font-weight: 700;
    color:rgb(6, 8, 143);
}

.full-recipe-text {
    font-family: Sacramento;
    color: #84fffa;
    text-decoration: underline;
}