{% extends "base.html" %}
{% block content %}

<h1 class="center-align h1-padding text-font">Manage Categories</h1>

<div class="row container">
    <div class="col 12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn ">
            Add Category<i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row container">
    {% for category in categories %}
   
    <!-- The following html has been taken from https://github.com/AmyOShea/MS3-Cocktail-Hour/blob/master/templates/all_collections.html 
    for a more appealing look-->
    <div class="card-container col s12 m6 l4 xl3">
        <div class="card card-border">
            <div class="main-content">
                <img src="{{ category.image_url }}" alt="################">
            </div>
            <div class="overlay-content">
                <div class="valign-wrapper wrapper">
                    <div class="recipe-name">
                        {{ category.category_name }}
                    </div>
                </div>
                <!--edit/delete collections buttons -->
                <div class="card-btn-container">
                    <a href="{{ url_for('edit_category', category_id=category._id) }}" class="card-recipe-btn card-btn">Edit</a>
                    <a class="modal-trigger card-btn" href="#{{category._id}}">Delete</a>
                </div>
            </div>
        </div>
    </div>



<!---Modal -->
    <div id="{{category._id}}" class="modal">
        <div class="modal-content">
            <h4>Are you sure you want to delete?</h4>
            <p>If you delete this category, it will be permanently deleted</p>
        </div>
        <div class="modal-footer">
            <button class="btn modal-close ">Cancel</button>
            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="modal-close">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}