{% extends "base.html" %}
{% block content %}

    <h1 class="center-align h1-padding text-font">{{ recipe.recipe_name}}</h1>

    <div class="row container">
        
        
        <div class="col s12 m12 l4 center-align card-bg grey darken-3">
            <h4 class="full-recipe-text">Ingredients</h4>
            {% for ingredient in recipe.ingredients %}
            <ul>
                <li>
                    {{ ingredient }}
                </li>
            </ul>{% endfor %}
        </div>
        
        
        <div class="col s12 m12 l4 center-align ">
        <img src="{{recipe.image_url}}" class="responsive-img" alt="">
        </div>
        <div class="col s12 m12 l4 center-align card-bg grey darken-3">
            <h4 class="full-recipe-text">Method</h4>
            {% for method in recipe.method %}
            <ul>
                <li>
                    {{ method }}
                </li>
            </ul>
            {% endfor %}
        </div>
  
      </div>



{% endblock %}

