{% extends "base.html" %}
{% block content %}
<h1 class="text-font center-align h1-padding hero-text">Sweet Tooth</h1>
<img src="static/images/site-imgs/cupcakes.jpg" alt="cupcakes" class="center hero-image">
&nbsp;

<h2 class="text-font center-align">Fancy having a go at making some sweet treats?</h2>
<h2 class="text-font center-align">Life's too short to skip dessert!</h2>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="../static/images/site-imgs/brownies.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../static/images/site-imgs/cake.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../static/images/site-imgs/icecream.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../static/images/site-imgs/pancakes.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../static/images/site-imgs/trifle.jpg"></a>
  </div>

{% endblock %}