{% extends "base.html" %}
{% block content %}
<h1 class="text-font center-align h1-padding hero-text">Sweet Tooth</h1> 
<div class ="row container">
<img src="static/images/site-imgs/cupcakes.jpg" alt="cupcakes" class="center hero-image responsive-img">
&nbsp;
</div>
<h2 class="text-font-h2 center-align">Fancy having a go at making some sweet treats?</h2>
<h2 class="text-font-h2 center-align">Life's too short to skip dessert!</h2>

<div class="carousel ">
    <a class="carousel-item" href="#one!"><img src="../static/images/site-imgs/brownies.jpg" class="carousel-border"></a>
    <a class="carousel-item" href="#two!"><img src="../static/images/site-imgs/cake.jpg" class="carousel-border"></a>
    <a class="carousel-item" href="#three!"><img src="../static/images/site-imgs/icecream.jpg" class="carousel-border"></a>
    <a class="carousel-item" href="#four!"><img src="../static/images/site-imgs/pancakes.jpg" class="carousel-border"></a>
    <a class="carousel-item" href="#five!"><img src="../static/images/site-imgs/trifle.jpg" class="carousel-border"></a>
  </div>
  &nbsp;

{% endblock %}