{% extends "base.html" %}
{% block content %}
<h1 class="text-font center-align h1-padding hero-text">Sweet Tooth</h1>
<h2 class="text-font center-align img-text">Life's too short to skip dessert</h2>
<img src="static/images/site-imgs/cupcakes.jpg" alt="cupcakes" class="center hero-image">
&nbsp;

<h2 class="text-font center-align">Fancy having a go at making some sweet treats?</h2>

<div class="carousel">
    <a class="carousel-item" href="#one!"><img src=""></a>
    <a class="carousel-item" href="#two!"><img src=""></a>
    <a class="carousel-item" href="#three!"><img src=""></a>
    <a class="carousel-item" href="#four!"><img src=""></a>
    <a class="carousel-item" href="#five!"><img src=""></a>
  </div>

{% endblock %}