{% extends "base.html" %}
{% block content %}

    <h1 class="center-align h1-padding text-font">Add Recipes</h1>
    <!-- Category selection-->
    <div class=" container  card-bg  grey darken-3">
        <form class="col s12" method="POST" action="{{ url_for('upload')}}">
            <div class="row">
                <div class="input-field col s12">
                    <i class=" material-icon prefix fas fa-utensils"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose difficulty</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                            {% endfor %}
                    </select>
                    <label for="category_name">Difficulty</label>
                </div> 
            </div>

           <!--Recipe name field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class=" material-icon prefix fas fa-utensils"></i>
                    <input id="recipe_name" name="recipe_name"  minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>

            <!-- Recipe description field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-align-left"></i>
                    <input id="recipe_description" name="recipe_description"  minlength="5" maxlength="200" 
                        type="text" class="validate" required>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            
            <!--Ingredients field -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-list"></i>
                    <input id="ingredients" name="ingredients"  minlength="5" maxlength="300" 
                        type="text" class="validate" required>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            
            <!-- Method field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-list"></i>
                    <input id="method" name="method"  minlength="5" maxlength="300" 
                        type="text" class="validate" required>
                    <label for="method">Method</label>
                </div>
            </div>
            
            <!--Image URL field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix far fa-image"></i>
                    <input id="image_url" name="image_url"  minlength="5" maxlength="300" 
                        type="text" class="validate" value="https://i.imgur.com/nqjG57Z.jpg" required>
                    <label for="image_url">Image URL</label>
                </div>
            </div>
            
            <!--Add recipe button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large btn">
                        Add recipe
                    </button>
                </div>
            </div>
        </form>
    </div>
&nbsp;
{% endblock %}