{% extends "base.html" %}
{% block content %}

    <h1 class="center-align h1-padding text-font">Upload Recipes</h1>

    <div class="row container  card-bg  grey darken-3">
        <form class="col s12" method="POST" action="{{ url_for('upload')}}">
            <div class="row">
                <div class="input-field col s12">
                    <i class=" material-icon prefix fas fa-utensils"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose difficulty</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name}}">{{ category.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Difficulty</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class=" material-icon prefix fas fa-utensils"></i>
                    <input id="recipe_name" name="recipe_name"  minlength="5" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-align-left"></i>
                    <textarea id="description" name="description" minlength="5" 
                        maxlength="200" class="materialize-textarea" required></textarea>
                    <label for="description">Recipe Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-list"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5" 
                        maxlength="400" class="materialize-textarea" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix fa fa-list"></i>
                    <textarea id="method" name="method" minlength="5" 
                        maxlength="400" class="materialize-textarea" required></textarea>
                    <label for="method">Method</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix far fa-image"></i>
                    <textarea id="image_url" name="image_url" 
                        maxlength="400" class="materialize-textarea"></textarea>
                        <label for="image_url" value="https://i.imgur.com/nqjG57Z.jpg">Image URL</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large blue lighten-5">
                        Upload recipe
                    </button>
                </div>
            </div>


        </form>
    </div>

{% endblock %}